---
layout: default
title: Home
updated: 2018-11-22 16:01:26 +0100
---

Welcome to the homepage of Ralph Perrier (B.A. Philosophy). I am an independent researcher who has a general interest in heterodox ideas, oddities, and mysteries. Recently, I have developed a particular focus on religion and its influence on Western civilization. On this website, you will find working drafts of my first two books, research articles, and various resources.

<p>Current Book Projects</p>

{% for post in site.categories["books"] %}
  {% unless post.draft %}
      <a href="{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%-d %B %Y" }}<br>
  {% endunless %}
{% endfor %}

<p>Recent Articles & Blog Posts</p>

{% for post in site.categories["blog"] limit:5 %}
  {% unless post.draft %}
      <a href="{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%-d %B %Y" }}<br>
  {% endunless %}
{% endfor %}

<p>Complete archive of research notes and articles: [<a href="https://hereticalbooks.com/blog/" target="_blank">Browse All Posts</a>]</p>

<p>Correspondence</p>

For academic discussion and inquiries: <a href="christianityexposed@yandex.com" target="_blank">Email</a>
<br><br>
Follow research updates:  <a href="https://twitter.com/hereticalbooks" target="_blank">Twitter</a>
