<!DOCTYPE html>
<html lang="en">
<html>
<head>
  {% include head.html %}
{% seo %}

</head>
<body>
  <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
  {% include header.html %}
  {{ content }}
  {% include footer.html %}

  {% if page.open_links_in_new_tab %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('a');
        const siteBaseUrl = '{{ site.url }}'; // Get the base URL of your site

        links.forEach(link => {
          const href = link.getAttribute('href');
          if (href && (href.startsWith('http') || href.startsWith('https')) && !href.startsWith(siteBaseUrl)) {
            link.setAttribute('target', '_blank');
            link.setAttribute('rel', 'noopener noreferrer'); // For security reasons
          }
        });
      });
    </script>
  {% endif %}
</body>
</html>
