<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  {% seo %}
  <style>
    body {
      background-color: white;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}

  {% if page.open_links_in_new_tab %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('a');
        const siteBaseUrl = '{{ site.url }}';

        links.forEach(link => {
          const href = link.getAttribute('href');
          if (href && (href.startsWith('http') || href.startsWith('https')) && !href.startsWith(siteBaseUrl)) {
            link.setAttribute('target', '_blank');
            link.setAttribute('rel', 'noopener noreferrer');
          }
        });
      });
    </script>
  {% endif %}
</body>
</html>
